<section>
  <form [formGroup]="detailForm">
    <div class="form-grid">
      <div class="form-grid__label">id</div>
      <div class="form-grid__value">
        {{ detailForm.value.id }}
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Дата</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          type="datetime-local"
          formControlName="date"
        />
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Тикер</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          class="input--uppercase"
          formControlName="ticker"
        />
      </div>
    </div>

    <div class="form-grid form-grid--vertical">
      <div class="form-grid__label">Обоснование входа</div>
      <div class="form-grid__value">
        <textarea formControlName="rationaleForEntry"></textarea>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Состояние рынка</div>
      <div class="form-grid__value">
        <select formControlName="volumeAvailability">
          <option value="1">тренд</option>
          <option value="2">боковик</option>
        </select>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Паттерн №</div>
      <div class="form-grid__value">
        <select formControlName="patternNumber">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4-1">4-1</option>
          <option value="4-2">4-2</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Наличие объема</div>
      <div class="form-grid__value">
        <select formControlName="volumeAvailability">
          <option value="1">средний</option>
          <option value="2">повышенный</option>
          <option value="3">огромный</option>
        </select>
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Способ выхода</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          formControlName="wayOut"
        />
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid__label">Оценка входа</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          formControlName="evaluationOfEntrance"
        />
      </div>
    </div>
    <div class="form-grid">
      <div class="form-grid__label">Max возможный профит фактор</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          formControlName="maxPossibleProfitFactor"
        />
      </div>
    </div>
    <div class="form-grid">
      <div class="form-grid__label">Результат сделки</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          formControlName="transactionResult"
        />
      </div>
    </div>
    <div class="form-grid">
      <div class="form-grid__label">Депозит</div>
      <div class="form-grid__value">
        <input
          inputmode="numeric"
          formControlName="deposit"
        />
      </div>
    </div>
    <div class="form-grid form-grid--vertical">
      <div class="form-grid__label">Ошибки</div>
      <div class="form-grid__value">
        <textarea formControlName="mistakes"></textarea>
      </div>
    </div>

    <section class="form-buttons form-buttons--bottom">
      <button class="button" (click)="save()">Сохранить</button>
      <button class="button" (click)="cancel()">Отменить</button>
    </section>
  </form>
</section>
