<ul>
  <li>
    <a target="_blank" href="https://ru-ticker.com/MultiCandles?period=1440&tickers=SRH8%2CGZH8%2CBrg8%2CMXH8%2CLKH8%2CGDH8%2CRIH8%2CSiH8%2CEDH8">Фьючерсы FORTS</a>
  </li>
  <li>
    <a target="_blank" href="https://ru-ticker.com/MultiCandles?period=1440&tickers=MXH8%2CSP500%2CCSI300%2CEUROSTOXX50%2CFTSE100%2CNIKKEI225">Мировые Индексы</a>
  </li>
  <li>
    <a target="_blank" href="https://ru-ticker.com/MultiCandles?period=1440&tickers=SBER%2CGAZP%2CLKOH%2CMGNT%2CNVTK%2CGMKN%2CROSN%2CVTBR%2CSNGS">Динамика топ акций ММВБ    </a>
  </li>
  <li>
    <a target="_blank" href="https://ru.investing.com/economic-calendar/eia-crude-oil-inventories-75">Запасы нефти (США)    </a>
  </li>
  <li>
    <a target="_blank" href="https://ru.investing.com/economic-calendar/fomc-meeting-minutes-108">FOMC (США)    </a>
  </li>
  <li>
    <a target="_blank" href="https://ru.investing.com/economic-calendar/unemployment-rate-300">Безработица (США)    </a>
  </li>
  <li>
    <a target="_blank" href="https://ru.investing.com/economic-calendar/nonfarm-payrolls-227">Занятость (США)    </a>
  </li>
  <li>
    <a target="_blank" href="https://ru.investing.com/economic-calendar/interest-rate-decision-168">Процентная ставка (США)    </a>
  </li>
  <li>
    <a target="_blank" href="https://ru.investing.com/economic-calendar/russian-interest-rate-decision-554">Ставка ЦБ (РФ)    </a>
  </li>
  <!-- <li>
    <a target="_blank" href=""></a>
  </li> -->
</ul>
