@import "./../assets/less/variables.less";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.header {
  padding: 10px;
}

.main {
  box-sizing: border-box;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 10px 10px 70px 10px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  &__item {
    margin: 0 10px 0 0;
  }
}


.icon {
  box-sizing: border-box;


  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;

  border: 1px solid @black-text-color;
  border-radius: 50%;

  color: @black-text-color;
  text-decoration: none;

  &--active {
    border-width: 3px;
    // box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.2);
  }

  ::ng-deep svg {
    width: 60%;
    height: 60%;

    path {
      fill: @black-text-color;
    }

    &:hover {
      path {
        fill: @black-text-hover-color;
      }
    }
  }
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &__input {
    display: none;
  }

  ::ng-deep svg {
    width: 32px;
    height: 32px;

    path {
      fill: white;
    }

    #lens-left,
    #lens-right {
      fill: transparent;
    }
  }

  &__input:checked+app-svg-glasses-icon ::ng-deep svg #lens-left,
  &__input:checked+app-svg-glasses-icon ::ng-deep svg #lens-right {
    fill: white;
  }
}
