@import "./../assets/less/variables.less";

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  &__item {

  margin: 0 10px 0 0;

    &-linc {
      box-sizing: border-box;


      display: flex;
      justify-content: center;
      align-items: center;

      width: 64px;
      height: 64px;

      border: 1px solid @text-color;
      border-radius: 50%;
    }



    ::ng-deep svg {
      width: 60%;
      height: 60%;

      path {
        fill: @text-color;
      }

      &:hover {
        path {
          fill: @text-hover-color;
        }
      }
    }

    &-linc--active {
      // border-width: 3px;
      box-shadow: 0 0 7px 4px rgba(255, 255, 255, 0.2);
    }
  }
}

.app-wrapper {
  margin: 0 auto;
}

.data {
  margin-bottom: 2px;
  display: flex;

  &__label {
    width: 50%;
    margin-right: 20px;
  }

  &__value {
    width: 50%;
  }

  &__value input {
    width: 100%;
    text-align: right;
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__value &__value-risk-loss,
  &__value &__value-risk-take {
    width: 40px;
    padding: 0 6px;
    margin: 0;
    text-align: center;
  }
}

h1 {
  margin-bottom: 4px;
}


.operation-results {
  display: flex;
  justify-content: space-between;
}

@media (min-width:480px) {

  .data__label {
    min-width: 180px;
    margin-right: 20px;
  }

}
