<header>
  <nav>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__item-linc" [routerLink]="['transaction-calculation']" [routerLinkActive]="'menu__item-linc--active'">
          <app-svg-calculation-icon></app-svg-calculation-icon>
        </a>
      </li>
      <li class="menu__item">

        <a class="menu__item-linc" [routerLink]="['transaction-log']" [routerLinkActive]="'menu__item-linc--active'">
          <app-svg-log-icon></app-svg-log-icon>
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>
