.form-grid {
  margin-bottom: 2px;
  display: flex;

  &__label {
    width: 50%;
    margin-right: 20px;
  }

  &__value {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &__value input {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding: 0 20px;
  }
  &__value textarea {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  &__value &__value-risk-loss,
  &__value &__value-risk-take {
    width: 40px;
    padding: 0 6px;
    margin: 0;
    text-align: center;
  }

  &--vertical {
    flex-direction: column;
    padding: 8px 0;
  }

  &--vertical &__value {
    width: 100%;
    padding: 0;
  }

}


@media (min-width:480px) {

  .data__label {
    min-width: 180px;
    margin-right: 20px;
  }

}
